[user]
	name = TomRaaff
	email = tomraaff@protonmail.com
[includeIf "gitdir:~/Workspace/Divotion/"]
    path = ~/Workspace/Divotion/.gitconfig
[includeIf "gitdir:~/WorkspaceDSM/"]
    path = ~/WorkspaceDSM/.gitconfig
[core]
	autocrlf = input
[alias]
  mergetool = "!nvim -c DiffviewOpen"
