[user]
	name = Tom Raaff
	email = tomraaff@protonmail.com
[includeIf "gitdir:~/Workspace/"]
    path = ~/WorkspaceDSM/.gitconfig
[core]
	autocrlf = input
[alias]
  mergetool = "!nvim -c DiffviewOpen"
