" line numbers
set number			            " Show current line number
set relativenumber		        " Show relative line numbers

" indentation
set filetype plugin indent on       " show existing tab with 4 spaces width
set tabstop=4                   " when indenting with '>', use 4 spaces width
set softtabstop=4               " 
set shiftwidth=4                " On pressing tab, insert 4 spaces
set expandtab                   " In Insert mode, expand tabs to spaces
set hidden                      " Keep your buffers in memory when switching files

" search
set incsearch                   " Incremental search
set hlsearch                    " Highlight search
set ignorecase=true             " ... during search
set smartcase=true              " ... during search

set scrolloff=20                " scroll offset for the cursor
set signcolumn=yes              " add column for error messages
set colorcolumn=120             " set a colored bar to indicate where 100 chars are
set syntax=on
set whichwrap=b,s,<,>,h,l,[,]   " allows the cursor to move from the end of a line to the next one by pressing right
set noerrorbells                " disable bells when you make a mistake

" \+...  Surrounds a selection with...
:map \' c''<Esc>hp<Esc>
:map \" c""<Esc>hp<Esc>
:map \( c()<Esc>hp<Esc>
:map \{ c{  }<Esc>hhp<Esc>
:map \[ c[  ]<Esc>hhp<Esc>

" \o or \O adds a new line without leaving normal mode
:map \O O<Esc>j
:map \o o<Esc>k
